{{ template "base" . }}

{{ define "content"}}
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <h1>Welcome to the contact me page</h1>
        <p> This is a paragraph of text </p>
        <p> This is a another paragraph of text </p>
      </div> 
    </div> 
  </div>  
{{ end }}